

 #container {
    position: relative;
  }
  
  #myCanvas {
    position: absolute;
  }
  
 .myHTML {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    @media only screen and (max-width: 480px) {
      width: 90%;
  }
  @media only screen and (min-width: 481px) {
    width: 50%;
}

    
  }
/*
  @media only screen and (max-width: 480px) {
    #container {
        display: none;
    }

}
*/