---
layout: default
---

<div>
<script type="text/javascript" src="/assets/js/prompt.js"></script>
</div>
<div class="container">

    <article class="post-content fullwidth">
      {{ content }}
    </article>

    {% raw %}
    <div id="promptcontainer" >
        <label>Enter API Key: </label>
        <input type="text" id="apiKey" />
    </div>

</div>

<div>
    <h3>Chatbot</h3>
    <div id="chatbot">
      <textarea id="displayfield" rows="5" style="width:100%; overflow-y: auto; resize: none;"></textarea>
      <input type="text" id="inputfield" />
      <button id="sendButton" >Send</button>
    </div>
  </div>
    
    <style>

#chatbot textarea {
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 8px;
  margin-bottom: 8px;
  background-color: #f5f5f5;
}

#chatbot input {
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 8px;
  margin-right: 8px;
}

#chatbot button {
  background-color: #00b0ff;
  color: #fff;
  font-size: 14px;
  padding: 8px;
  margin-right: 8px;
  border: 0;
  cursor: pointer;
}






#promptcontainer {
    position: relative;
    text-align: center;
    background-color: aquamarine;
    height: 100px;
}

#apiKey {
    border-radius: 5px;
    background-color: #ccc;
}


#promptcontainer label, #promptcontainer input {
    position: absolute;
}

#promptcontainer label {
    top: 10px;
    left: 10px;
}

#promptcontainer input {
    top: 35px;
    left: 10px;
}
    </style>
    {% endraw %}

